ul li.tcPaymentMethod{
    float: left;
    padding: 5px;
    width: 50px;
    height: 30px;
    list-style: none;
}

ul li img.tcPaymentFlag{
    display: inline-block !important;
    padding: 10px;
    float: left;
    width: 76px;
    height: 49px;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-color: #f3f3f3;
    box-shadow: 1px 1px 2px #ececec;
    opacity:0.30;
    -moz-opacity: 0.30;
    filter: alpha(opacity=30);
}

ul li img.tcPaymentFlagSelected{
    opacity:1 !important;
    -moz-opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

ul li img.tcPaymentFlag:hover{
    opacity:1 !important;
    -moz-opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    cursor: pointer;
}

.linha1 {
    margin: 30px 0;
}

.textRateio {
    font-weight: bold;
    margin: 10px 0;
}

.textRateio strong {
    font-weight: 400;
    color: red;
}

.listaRastreioYapay {
    margin: 10px 0;
}

.listaRastreioYapay ul li {

    list-style-position: inside;
    list-style-type: square
}

.listaRastreioYapay ul li span {
    padding-left: 10px;
}
.listaRastreioYapay .dashicons-dismiss {
    color: #a00;
    font-size: 13px;
    margin-left: .4em;
    text-decoration: none;
    vertical-align: baseline;
}

.listaRastreioYapay .dashicons-dismiss:hover {
    color: white;
    text-decoration: none;
    color: red;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


.listaRastreioYapay .dashicons-dismiss::before {
    font-family: "Dashicons";
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}


.obsYapay p {
    margin-top: 40px;
    font-size: 11px;
    color: #565656;
    font-style: italic;
    text-align: center;
}

.cpf_yapay_tef {
    margin-top: 80px;
}

.cpf_yapay_cc {
    padding: 0;
    box-shadow: none;
}

.cpf_yapay input {
    width: 100%;
    font-size: 1.5em;
    padding: 8px;
}

.cpf_yapay input:focus {
  border: 1px solid #1d3b6f; /*Amarelo*/
  transition: all 0.3s ease;
}


.linhaDigitavel {
    margin-top: 15px;
}

.copiaCola > a {
  border: solid 1px black;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
}

.copiaCola > a:hover {
  cursor: pointer;
}

.qrCodeYapay {
    margin-left: -75px;
    margin-top: 10px;
}

/** Order view page */
#yapay-order-container h2 {
    font-weight: 600;
}

#yapay-order-container .section-row {
    margin: 5px 0;
}

#yapay-order-container #yapay-billet-link {
    margin-top: 5px;
    margin-bottom: 10px;
}

#yapay-order-container #yapay-billet-link > a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    background: #eeee;
    color: #333333;
    margin: 5px 0;
}

#yapay-order-container #yapay-pix-qr > object{
    margin-left: -75px;
}

#payment .payment_method_wc_yapay_intermediador_cc img,
#payment .payment_method_wc_yapay_intermediador_pix img,
#payment .payment_method_wc_yapay_intermediador_bs img,
#payment .payment_method_wc_yapay_intermediador_tef img {
    float: right;
    max-height: 1.618em;
}

#wc-yapay_intermediador-cc-card-holder-name {
    text-transform: uppercase;
}
