ul {
    margin-top: 30px;
}

ul li.tcPaymentMethod{
    float: left;
    padding: 5px;
    width: 50px;
    height: 30px;
    list-style: none;
}
ul li input{
    float: left;
    margin-right: 5px;
}
ul li img.tcPaymentFlag{
    display: inline-block !important;
    padding: 10px;
    float: left;
    width: 76px;
    height: 49px;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-color: #f3f3f3;
    box-shadow: 1px 1px 2px #ececec;
    opacity:0.30;
    -moz-opacity: 0.30;
    filter: alpha(opacity=30);
}
ul li img.tcPaymentFlagSelected{
    opacity:1 !important;
    -moz-opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

/*ul li img.tcPaymentFlag:hover{
    opacity:1 !important;
    -moz-opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    cursor: pointer;
}*/

.linha1 {
    margin: 30px 0;
}

/*.btnYapayRastreio {
    padding: 10px 20px; 
    background-color: #204078; 
    border: 2px solid #204078; 
    color: #FFF; 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-bottom: 10px;
    outline: none;
}

.btnYapayRastreio:hover {
    background-color: #FFF;
    border: 2px solid #204078; 
    color: #204078;
}*/


.textRateio {
    font-weight: bold;  
    margin: 10px 0;  
}

.textRateio strong {
    font-weight: 400;
    color: red;
}

.listaRastreioYapay {
    margin: 10px 0;
}

.listaRastreioYapay ul li {

    list-style-position: inside;
    list-style-type: square
}

.listaRastreioYapay ul li span {
    padding-left: 10px;
}
.listaRastreioYapay .dashicons-dismiss {
    color: #a00;
    font-size: 13px;
    margin-left: .4em;
    text-decoration: none;
    vertical-align: baseline;
}

.listaRastreioYapay .dashicons-dismiss:hover {
    color: white;
    text-decoration: none; 
    color: red;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


.listaRastreioYapay .dashicons-dismiss::before {
    font-family: "Dashicons";
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}


.obsYapay p {
    margin-top: 40px;
    font-size: 11px;
    color: #565656;
    font-style: italic;
    text-align: center;
}

.cpf_yapay {
    display: grid;
    margin: 100px 0 100px 0;
}

.cpf_yapay input {
    width: 100%;
    font-size: 1.5em; 
    padding: 8px;
}

.cpf_yapay input:focus {
  border: 1px solid #1d3b6f; /*Amarelo*/
  transition: all 0.3s ease;
}